
#export(simulateForwards)
#export(testSq)
export(sampleMM)
export(SMC_sampler)
export(SMC_sampler_FAST)
export(generatePlot)
export(benchmark_SMC)
export(generateRuntimePlot)

useDynLib(parallelComparisonpkg, .registration = TRUE)